.animals-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.adoption-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.adoption-header h2 {
  text-align: center;
}
